
<center>
    <img src="https://github.com/pritomsh/netflix-movies-tv-shows-data-analysis/blob/master/netflix.jpeg?raw=true" alt="Netflix Movies and TV Shows" width="80%">
</center>
<br>

## <div style="font-family: Trebuchet MS; background-color: #BA1141; color: #FFFFFF; padding: 12px; line-height: 1.5;">Dataset</div>
<div style="font-family: Segoe UI; line-height: 2; color: #000000; text-align: justify">
👉 This dataset contains information about Netflix Movies and TV Shows.</div>
👉 Data Set 
<a href="https://www.kaggle.com/datasets/shivamb/netflix-shows">Link</a>

## <div style="font-family: Trebuchet MS; background-color: #BA1141; color: #FFFFFF; padding: 12px; line-height: 1.5;">Insight of Notebook 📌</div>
<div style="font-family: Segoe UI; line-height: 2; color: #000000; text-align: justify">
    👉 <b>This notebook aims to:</b>
    <ul>
        <li> <mark><b>Show Type  content is available</b></mark> .</li>
        <li> <mark><b>Top Five Rating Category</b></mark>.</li>
        <li> <mark><b>Export prediction & best model</b></mark>.</li>
        <li> <mark><b>Trand of  focus on TV Shows and movies in recent years.</b></mark>.</li>
    </ul>
</div>

# <div style="font-family: Trebuchet MS; background-color: #6C935C; color: #FFFFFF; padding: 12px; line-height: 1.5;">Importing Libraries</div>

In [1]:
import numpy as np
import pandas as pd
import cutecharts.charts as ctc
from cutecharts.charts import Line
from cutecharts.faker import Faker
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('data/netflix_titles.csv')

In [3]:
print('-' * 40)
print('\nSize of Netflix data is {}\n'.format(data.shape))
print('-' * 40)
data.head()

----------------------------------------

Size of Netflix data is (8807, 12)

----------------------------------------

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [4]:
data = data.drop(['show_id'], axis=1)

# Handling Missing Data

- replace missing  countries with 'Not Specify'
- replace missing with 'No Director'
- replace missing cast with 'No Cast'

data.isnull().sum()

In [5]:
data['director'].replace(np.nan, 'No Director',inplace=True)
data['cast'].replace(np.nan, 'No Cast',inplace=True)
data['country'].replace(np.nan, 'Not Specify',inplace=True)
data.isnull().sum()

type             0
title            0
director         0
cast             0
country          0
date_added      10
release_year     0
rating           4
duration         3
listed_in        0
description      0
dtype: int64

In [6]:
data = data.dropna()
data.isnull().sum()

type            0
title           0
director        0
cast            0
country         0
date_added      0
release_year    0
rating          0
duration        0
listed_in       0
description     0
dtype: int64

In [7]:
print('-' * 45)
print("\nStatstical information about given data \n")
print('-' * 45)
data.describe()

---------------------------------------------

Statstical information about given data

---------------------------------------------

       release_year
count   8790.000000
mean    2014.183163
std        8.825466
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [8]:
print("\nCheck Duplicates")
data.duplicated().sum()

Check Duplicates

0

 # <div style="font-family: Trebuchet MS; background-color: #6C935C; color: #FFFFFF; padding: 12px; line-height: 1.5;">Show Type  content is available</div>

In [9]:
data['type'].value_counts()

Movie      6126
TV Show    2664
Name: type, dtype: int64

In [10]:
t_values = data['type'].value_counts()
t_labels = data['type'].unique()

# pie chart 
pie = ctc.Pie('Payment Method Category', # title
              width='720px',height='720px')

# set the chart options
pie.set_options(labels=list(t_labels), # country names as labels
                inner_radius=0,                  # inner radius set to 0
                colors=['#ee333c','#168ab5'])

# label to be shown on graph
pie.add_series(list(t_values)) 

# display the charts
pie.render_notebook()

<h4>It is evident that there are more Movies on Netflix than TV shows.

 # <div style="font-family: Trebuchet MS; background-color: #6C935C; color: #FFFFFF; padding: 12px; line-height: 1.5;">Top Five Rating Category</div>

In [11]:
data.rating.value_counts()

TV-MA       3205
TV-14       2157
TV-PG        861
R            799
PG-13        490
TV-Y7        333
TV-Y         306
PG           287
TV-G         220
NR            79
G             41
TV-Y7-FV       6
NC-17          3
UR             3
Name: rating, dtype: int64

In [12]:
newdata = data.groupby('rating').size().rename_axis('Rating').reset_index(name='Count')
nd = newdata.sort_values(by ='Count', ascending=True)
nd = nd.tail(5)

In [13]:
colors=['#FFF1C9', '#F7B7A3', '#EA5F89', '#9B3192', '#57167E', '#47B39C','#00529B']

chart = ctc.Bar('Top Five Rating Category', width='600px', height='200px')

chart.set_options(labels=list(nd.Rating),

            x_label='Category',

            y_label='Count',   

            colors=Faker.colors
)

chart.add_series('Geners',list(nd['Count']))

chart.render_notebook()

# <div style="font-family: Trebuchet MS; background-color: #6C935C; color: #FFFFFF; padding: 12px; line-height: 1.5;">Top  Five Directors</div>

In [14]:
fil_directors = data['director'].str.split(',',expand=True).stack()
fil_directors= pd.DataFrame(fil_directors)
fil_directors.columns = ['director']
directors = fil_directors.groupby(['director']).size().reset_index(name='counts')
directors = directors.sort_values(by='counts',ascending=False)
directors = directors[directors['director'] != 'No Director']
directors = directors.head(5)
directors

           director  counts
4019  Rajiv Chilaka      22
4066    Raúl Campos      18
261       Jan Suter      18
4650    Suhas Kadav      16
3233   Marcus Raboy      16

In [15]:
colors=['#FFF1C9', '#F7B7A3', '#EA5F89', '#9B3192', '#57167E', '#47B39C','#00529B']

chart = ctc.Bar('Top Five Director', width='600px', height='200px')

chart.set_options(labels=list(directors.director),x_label='Director',y_label='Number of Movie', colors=Faker.colors)

chart.add_series('Geners',list(directors.counts))

chart.render_notebook()

# <div style="font-family: Trebuchet MS; background-color: #6C935C; color: #FFFFFF; padding: 12px; line-height: 1.5;">Top Ten Actors</div>

In [16]:
fil_actors = data['cast'].str.split(',',expand=True).stack()
fil_actors= pd.DataFrame(fil_actors)
fil_actors.columns = ['cast']
actors = fil_actors.groupby(['cast']).size().reset_index(name='counts')
actors = actors.sort_values(by='counts',ascending=False)
actors = actors[actors['cast'] != 'No Cast']
actors = actors.head(5)
actors

                    cast  counts
2605         Anupam Kher      39
26903       Rupa Bhimani      31
30263   Takahiro Sakurai      30
15518      Julie Tejwani      28
23591            Om Puri      27

In [17]:
colors=['#FFF1C9', '#F7B7A3', '#EA5F89', '#9B3192', '#57167E', '#47B39C','#00529B']

chart = ctc.Bar('Top Ten Actors', width='600px', height='200px')

chart.set_options(labels=list(actors.cast),x_label='Director',y_label='Number of Movie', colors=Faker.colors)

chart.add_series('Geners',list(actors.counts))

chart.render_notebook()

In [18]:
oldest_r = data.sort_values("release_year", ascending = True)
oldest_r = oldest_r[oldest_r['duration'] != ""]
oldest_r[['title', "release_year"]][:5]

                                   title  release_year
4250   Pioneers: First Women Filmmakers*          1925
7790                      Prelude to War          1942
8205                The Battle of Midway          1942
8763     WWII: Report from the Aleutians          1943
8739  Why We Fight: The Battle of Russia          1943

In [19]:
new_r = data.sort_values("release_year", ascending = False)
new_r = new_r[new_r['duration'] != ""]
new_r[['title', "release_year"]][:5]

                                     title  release_year
693                 Ali & Ratu Ratu Queens          2021
781  Black Holes | The Edge of All We Know          2021
762                           Sweet & Sour          2021
763                            Sweet Tooth          2021
764           Trippin' with the Kandasamys          2021

# <div style="font-family: Trebuchet MS; background-color: #6C935C; color: #FFFFFF; padding: 12px; line-height: 1.5;">Trand of focus on TV Shows and movies in recent years.</div>

In [20]:
dff = data[['type','release_year']]
dff = dff.rename(columns = {'release_year' : 'Release Year'})
dff2 = dff.groupby(['Release Year','type']).size().reset_index(name='Total Content')
dff2 = dff2[dff2['Release Year']>=2010]
dff2.head()

    Release Year     type  Total Content
95          2010    Movie            153
96          2010  TV Show             39
97          2011    Movie            145
98          2011  TV Show             40
99          2012    Movie            173

In [21]:
dff3 = dff2[dff2['type']=='Movie']

dff4 = dff2[dff2['type']=='TV Show']

In [22]:
chart = Line('Last 10 Years of trand')
chart.set_options(labels=list(dff3['Release Year']), x_label='Year', y_label='End Year Amount',)
chart.add_series('Movie', list(dff3['Total Content']))
chart.add_series('TV Show', list(dff4['Total Content']))
chart.render_notebook()

# Movie ratings analysis
# <div style="font-family: Trebuchet MS; background-color: #6C935C; color: #FFFFFF; padding: 12px; line-height: 1.5;">Importing Libraries</div>

In [23]:
# Countries with highest rated content.

country_count=data['country'].value_counts().sort_values(ascending=False)
country_count=pd.DataFrame(country_count)
topcountries=country_count[0:11]

topcountries

                country
United States      2809
India               972
Not Specify         829
United Kingdom      418
Japan               243
South Korea         199
Canada              181
Spain               145
France              124
Mexico              110
Egypt               106

# Year wise analysis

In [24]:
# plt.figure(figsize=(12,10))
# sns.set(style="darkgrid")
# ax = sns.countplot(y="release_year", 
#                    data=netflix_movies, palette="Set2", 
#                    order=netflix_movies['release_year'].value_counts().index[0:15])

# Lollipop plot of Genres vs their count on Netflix

# <div style="font-family: Trebuchet MS; background-color: #6C935C; color: #FFFFFF; padding: 12px; line-height: 1.5;">Importing Libraries</div>

In [25]:
#which TV Shows

In [26]:
features=['title','duration','type']
durations= data[features]
print(durations)

                      title   duration     type
0      Dick Johnson Is Dead     90 min    Movie
1             Blood & Water  2 Seasons  TV Show
2                 Ganglands   1 Season  TV Show
3     Jailbirds New Orleans   1 Season  TV Show
4              Kota Factory  2 Seasons  TV Show
...                     ...        ...      ...
8802                 Zodiac    158 min    Movie
8803            Zombie Dumb  2 Seasons  TV Show
8804             Zombieland     88 min    Movie
8805                   Zoom     88 min    Movie
8806                 Zubaan    111 min    Movie

[8790 rows x 3 columns]

In [27]:
durations['no_of_seasons']=durations['duration'].str.replace(' Season','')
print(durations.no_of_seasons)

0        90 min
1            2s
2             1
3             1
4            2s
         ...
8802    158 min
8803         2s
8804     88 min
8805     88 min
8806    111 min
Name: no_of_seasons, Length: 8790, dtype: object

In [28]:

durations['no_of_seasons']=durations['no_of_seasons'].str.replace('s','')
durations

                      title   duration     type no_of_seasons
0      Dick Johnson Is Dead     90 min    Movie        90 min
1             Blood & Water  2 Seasons  TV Show             2
2                 Ganglands   1 Season  TV Show             1
3     Jailbirds New Orleans   1 Season  TV Show             1
4              Kota Factory  2 Seasons  TV Show             2
...                     ...        ...      ...           ...
8802                 Zodiac    158 min    Movie       158 min
8803            Zombie Dumb  2 Seasons  TV Show             2
8804             Zombieland     88 min    Movie        88 min
8805                   Zoom     88 min    Movie        88 min
8806                 Zubaan    111 min    Movie       111 min

[8790 rows x 4 columns]

In [30]:
durations.no_of_seasons.info()

<class 'pandas.core.series.Series'>
Int64Index: 8790 entries, 0 to 8806
Series name: no_of_seasons
Non-Null Count  Dtype
--------------  -----
8790 non-null   object
dtypes: object(1)
memory usage: 395.4+ KB

In [31]:
durations['no_of_seasons']=durations['no_of_seasons'].astype(str).astype(int)
durations.info()

ValueError: invalid literal for int() with base 10: '90 min'

In [32]:
seasons = seasons[seasons['type']=='TV Show']
seasons

NameError: name 'seasons' is not defined

In [ ]:
seasons = durations.drop('duration', axis= 1)
seasons

In [ ]:
seasons = seasons.sort_values('no_of_seasons', ascending=False)
seasons

In [ ]:
seasons = seasons.head(5)

In [ ]:
colors=['#FFF1C9', '#F7B7A3', '#EA5F89', '#9B3192', '#57167E', '#47B39C','#00529B']

chart = ctc.Bar('Top Five Tv Shows with Highest Seasons', width='600px', height='200px')

chart.set_options(labels=list(seasons.title),x_label='Director',y_label='Number of Movie', colors=Faker.colors)

chart.add_series('Geners',list(seasons.no_of_seasons))

chart.render_notebook()

In [ ]:
nos= durations[durations['no_of_seasons']]
nos

In [ ]:
durations['no_of_seasons']=durations['no_of_seasons'].astype(str).astype(int)

In [ ]:
t=['title','no_of_seasons']
top=durations[t]

top=top.sort_values(by='no_of_seasons', ascending=False)

In [ ]:
top20=top[0:20]
top20.plot(kind='bar',x='title',y='no_of_seasons', color='red')

In [ ]:
data.head()

In [ ]:
data['country'].value_counts()

# Which Country release  movie 
# <div style="font-family: Trebuchet MS; background-color: #6C935C; color: #FFFFFF; padding: 12px; line-height: 1.5;">Importing Libraries</div>

In [ ]:
features=['country','type']
split_country= data[features]
split_country.head()

In [ ]:
split_country.country.value_counts()

In [ ]:
split_country = split_country['country'].str.split(',',expand=True).stack()
split_country= pd.DataFrame(split_country)
split_country.columns = ['country']
split_country

In [ ]:
split_country['aaa']=split_country['country'].str.replace(' United States','United States')

In [ ]:
country = split_country.groupby(['cast']).size().reset_index(name='counts')
country = country.sort_values(by='counts',ascending=False)
country = country[actors['cast'] != 'No Cast']
country = country.head(5)
country

In [ ]:
split_country.country.value_counts()

In [ ]:
split_country['aaa']=split_country['country'].str.replace(' United States','United States')

In [ ]:
split_country.country.value_counts()

In [ ]:
split_country['x'] = data['country'].str.split(',',expand=True).stack()
# split_country = split_country.value_counts()
split_country.head(50)

In [ ]:
split_country.value_counts()

In [ ]:
print(durations)

split_country = split_country.value_counts()

In [ ]:
split_country= pd.DataFrame(split_country)
split_country.columns = ['split_country']
split_country = fil_directors.groupby(['director']).size().reset_index(name='counts')
directors = directors.sort_values(by='counts',ascending=False)
directors = directors[directors['director'] != 'No Director']
# directors = directors.head(11)
# directors

In [ ]:
directors = directors.head(11)
directors

In [ ]:
us_series_data=data[data['country']=='United States']
us_series_data = us_series_data[us_series_data['type']=='Movie']
us_series_data.head()

In [ ]:
a = us_series_data.groupby(['rating']).size().reset_index(name='counts')

In [ ]:
type

<div style="border-radius:10px; border:maroon; padding: 15px; background-color: #E6CCE6; font-size:110%; text-align:left">
<hr>
<center>
    <b style="font-size: 20px";>  Check code in Github  👀 <a href="https://github.com/pritomsh/netflix-movies-tv-shows-data-analysis">Here </a> 📌</b><br><br>
    <b> Like this notebook? You can support me by giving upvote</b> 👍🔼<br>
    </center>
<hr>



<h3 align="left"><font color='purple'>Future Work:</font></h3>

- Working __`PowerBI Dashboard Report`__


Ref : 
- https://www.kaggle.com/code/niharika41298/netflix-visualizations-recommendation-eda
- https://towardsdatascience.com/make-the-cutest-chart-in-python-visualize-your-data-with-hand-drawn-charts-f21157f76b4b
-https://www.kaggle.com/code/anandhuh/introduction-to-cutecharts-library
    </div>